@media (max-width: 1200px) {


    .div:after {
        content: "";
        position: absolute;
        background: inherit;
    }

    .inner {
        min-height: 24vh;
    }

    .slideshow .slider .item img {
        min-width: 101%;
        min-height: 101%;
        position: absolute;
        top: 50%;
        width: 290%;
        left: 33%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .slideshow-text {
        font-size: 5vw;
    }

    .the-most img {
        max-width: 89%;
        height: 100%;
    }

    .the-most {
        position: fixed;
        z-index: 3;
        bottom: 0;
        left: 10%;
        top: 35%;
        width: 92vw;
        max-width: 986px;
        padding: 10px;
        height: 11%;
    }

    .text-about {
        max-width: 100%;
        padding: 0 2em;

    }

    #img-about {
        display: block !important;
        width: 100% !important;
        max-width: 100%;
        position: relative;
        /* position: absolute; */
        /* z-index: 1; */
        /* height: 100%; */
        /* height: auto; */
        /* max-width: 50%; */
        /* text-align: left; */
        background-image: url(../img/dots.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        margin-top: 3em;
    }

    .img-first {
        /* top: 10%; */
        right: 0%;
        width: 100%;
        height: 46%;
    }

    .img-second {
        display: none;
    }

    .about {
        padding: 0 !important;
    }

    .table1,
    .table2 {
        /* flex: 0 0 50%; */
        /* max-width: 50%; */
        -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
        flex: 0 0 80%;
        max-width: 100%;
    }

    .value {
        display: none;
    }

    .price {
        padding: 0 !important;
    }

    ymaps {
        width: 170px !important;
    }

    .row {
        margin: 0 !important;
    }

    .btn-gallery {
        margin: 5em 0;
        position: relative;
        right: -27%;
    }

    .text-contact {
        max-width: 100%;
        text-align: center;
        padding-right: 0% !important;
        -webkit-box-flex: 100%;
        -ms-flex: 100%;
        flex: 100%;
    }

    .map {
        max-width: 100%;
        -webkit-box-flex: 100%;
        -ms-flex: 100%;
        flex: 100%;
    }

    .social-btn-insta2,
    .social-btn-vk2 {
        width: 47%;
    }

    .second {
        margin-bottom: 10vw;
    }


    .footer {
        position: relative;
        z-index: 10;
        display: inline-grid;
        height: auto;
        line-height: inherit;
        margin: 0 auto;
        padding-left: 1em;
        padding-right: 1em;
        margin-bottom: 2em;
        width: 100%;
    }

    .footer-social {
        /* margin-right: auto; */
        margin: 0 auto;
    }

    .footer-contact {
        display: block;
        /* margin-left: auto; */
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        color: white;
        border-top: none;
        /* margin-top: 1.4em; */
        margin: 0 auto;
        text-align: center;
    }

    .row a > img {
        width: 100%;
    }

}

@media screen and (max-width: 500px) {



    .index-btn {
        left: 0%;
    }

    .burger-btn {
        color: black;
    }

    #sidebar {
        height: 2.6em;
        left: 0;
        line-height: 2.5em;
        overflow: hidden;
        padding: 0;
        text-align: center;
        top: 0;
        width: 100%;
        font-size: 1.5em;
    }

    #sidebar > .inner {
        display: -moz-flex;
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transition: opacity 1s ease;
        transition: opacity 1s ease;
        min-height: 100%;
        opacity: 1;
        width: 100%;
    }

    #sidebar nav > ul {
        list-style: none;
    }

    #sidebar nav > ul > li {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transition: opacity 0.15s ease, -webkit-transform 0.75s ease;
        transition: opacity 0.15s ease, -webkit-transform 0.75s ease;
        transition: opacity 0.15s ease, transform 0.75s ease;
        transition: opacity 0.15s ease, transform 0.75s ease, -webkit-transform 0.75s ease;
        margin: 1.5em 0 0 0;
        opacity: 1;
        padding: 0;
        position: relative;
    }

    /* #sidebar nav ul .logo {
        display: none;
    }*/

    #sidebar nav a {
        -webkit-transition: color 0.2s ease;
        transition: color 0.2s ease;
        border: 0;
        color: #242424;
        display: block;
        font-size: 0.6em;
        font-weight: solid;
        line-height: 1.75;
        outline: 0;
        padding: 0em 0;
        position: relative;
        text-decoration: none;

    }



    #sidebar nav a:before {
        background: #fafafa;
        background-image: url(../img/burger.png)
    }





    #sidebar nav a.active {
        color: #000000;
    }

    #sidebar nav a.active:after {
        max-width: 100%;
    }

    #sidebar nav a.active:hover {
        max-width: 100%;
    }



    body.is-preload #sidebar nav ul li {
        -webkit-transform: translateY(2em);
        transform: translateY(2em);
        opacity: 0;
    }


    #sidebar {
        height: 3.6em;
        left: 0;
        line-height: 3.5em;
        overflow: hidden;
        padding: 0;
        text-align: center;
        top: 0;
        width: 100%;
    }

    #sidebar > .inner {
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        -moz-align-items: -moz-stretch;
        -ms-align-items: -ms-stretch;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        height: inherit;
        line-height: inherit;
    }

    #sidebar nav {
        height: inherit;
        line-height: inherit;
    }

    #sidebar nav ul {
        display: block;
        height: inherit;
        line-height: inherit;
        margin: 0;
    }

    #sidebar nav ul li {
        display: block;
        height: inherit;
        line-height: inherit;
        padding: 0;
    }

    #sidebar nav a:not(.menu-btn) {
        height: inherit;
        line-height: inherit;
        padding: 0;
    }

    .siderbar-active {
        position: absolute !important;
        z-index: 10001 !important;
        background-color: #fafafa !important;
        height: auto !important;
        width: 100% !important;
        display: block;
    }

    .logo > a {
        display: -webkit-inline-box !important;
        display: -ms-inline-flexbox !important;
        display: inline-flex !important;
        position: absolute !important;
        left: -75% !important;
        top: -5.9em !important;
    }

    .logo1 > a {
        display: -webkit-inline-box !important;
        display: -ms-inline-flexbox !important;
        display: inline-flex !important;
        position: absolute !important;
        left: -50% !important;
        top: -5.9em !important;
    }



}

@media screen and (max-width: 1098px) {
    .menu-btn {
        display: block;
        width: 50px;
        height: 50px;
        position: relative;
        z-index: 300000;
        left: 80%;
    }

    .menu-btn span,
    .menu-btn span::before,
    .menu-btn span::after {
        position: absolute;
        top: 50%;
        margin-top: -1px;
        left: 50%;
        margin-left: -10px;
        width: 20px;
        height: 2px;
        background-color: #C9DFFA;
    }

    .menu-btn span::before,
    .menu-btn span::after {
        content: '';
        display: block;
        -webkit-transition: 0.2s;
        transition: 0.2s;
    }

    .menu-btn span::before {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }

    .menu-btn span::after {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }

    .menu-btn_active span:before {
        -webkit-transform: rotate(-35deg);
        transform: rotate(-35deg);
        width: 10px;
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
    }

    .menu-btn_active span:after {
        -webkit-transform: rotate(35deg);
        transform: rotate(35deg);
        width: 10px;
        -webkit-transform-origin: left top;
        transform-origin: left top;
    }

    .menu-block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .menu-nav {
        background-color: #fff;
        height: 50px;

    }

    .menu-nav__link {
        display: inline-block;
        text-decoration: none;
        color: #fff;
        margin-right: 20px;
    }

    .menu-nav__link {
        -webkit-transition: 0.5s;
        transition: 0.5s;
        -webkit-transform-origin: right center;
        transform-origin: right center;
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
        opacity: 0;
    }

    .menu-nav__link_active {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        opacity: 1;
    }

    .menu-btn-active {
        display: block;
        width: 100%;
        height: 30em;

    }

    .siderbar-active > li > a {
        display: block !important;
    }

    .siderbar-active {
        position: absolute !important;
        z-index: 10001 !important;
        background-color: #fafafa !important;
        height: auto !important;
        width: 100% !important;
    }

    .logo > a {
        display: -webkit-inline-box !important;
        display: -ms-inline-flexbox !important;
        display: inline-flex !important;
        position: absolute !important;
        left: -60% !important;
        top: -5.9em !important;
    }

    .logo1 > a {
        display: -webkit-inline-box !important;
        display: -ms-inline-flexbox !important;
        display: inline-flex !important;
        position: absolute !important;
        left: -35% !important;
        top: -5.9em !important;
    }



}
